<% menu_id = "#{SecureRandom.uuid}_order_by_menu" %>
<div class="order-by">
  <div class="order-by__dropdown-container">
    <span class="order-text">Ordenar:</span>
    <ul class="dropdown menu bp-order-by-container" data-dropdown-menu
      data-autoclose="false"
      data-disable-hover="true"
      data-click-open="true"
      data-close-on-click="true"
      role="menubar">
      <li class="is-dropdown-submenu-parent" role="presentation">
        <a href="#" class="order__by-content-text" id="<%= menu_id %>-control" aria-controls="<%= menu_id %>" aria-haspopup="menu" title="<%= t("#{i18n_scope}.label") %>" role="menuitem">
          <%= t("#{i18n_scope}.#{order}") %>
          <i class="fa-solid fa-chevron-down"></i>
        </a>
        <ul id="<%= menu_id %>" class="menu" role="menu" aria-labelledby="<%= menu_id %>-control">
          <% orders.each do |order_name| %>
            <li role="presentation" class="order-by-item">
              <%= order_link order_name,
                          i18n_scope: i18n_scope,
                          title: t("#{i18n_scope}.label"),
                          role: "menuitem",
                          class: "order-proposals-by" 
                          %>
            </li>
          <% end %>
        </ul>
      </li>
    </ul>
  </div>
</div>
